/* propgress bar */
.progressBar {
	/* outline: 1px solid tomato; */
	width: 1rem;

	display: flex;
	flex-direction: column-reverse;
	gap: 2px;
}

/* segment */
.segment {
	height: 100%;
	width: 100%;
	transition: all 0.3s ease;
	animation: pulse 2s infinite;
}

.segment.first {
	border-radius: 0 0 0 var(--border-radius-secondary);
}

.segment.last {
	border-radius: var(--border-radius-secondary) 0 0 0;
}

.segment:hover {
	filter: brightness(1.2);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}
